* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right bottom, rgb(25, 29, 18), #0055ff);
  padding-top: 2rem;
}

html {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
