@import "_navbar.scss";
@import "_hamburger.scss";
@import "_contact.scss";
@import "_reset.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.button {
  background: none;
  padding: 0.2rem 1.5rem;
  margin: 0 auto;
  border-radius: 1rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  border: 3px solid white;
  color: white;
  transition: 0.2s all ease-in-out;

  &:hover {
    transform: translateY(-2px);
    padding: 0.2rem 2.5rem;
    transition: 0.2s all ease-in-out;
    box-shadow: 0 8px 15px -9px black;
  }
}
